$primary: #006EC7;

.logo_background {
  background: url(../img/logo.png) 10px 15px no-repeat #fbfbfb;
  padding: 15px 0 15px 120px;
}

.bluepayment-loader-bg {
  display: none;
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
  background: #222;
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

div.payment-option > label > img {
  width: 70px;
}

.bluepayment-loader {
  display: none;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: bluepayment_spin 1.5s linear infinite;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

@keyframes bluepayment_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#blue_payway {
  margin-top: 20px;
  margin-bottom: 20px;
}

#bluepayment-gateway {
  margin-bottom: 20px;
}

.payment-option > label {

  span {
    text-align: left;
  }

  p {
    text-align: left;
    font-size: 12px;
    margin:0;
  }

}

.blue-gateway label {
  text-align: left;
  width: 100%;
  display: inline-block;
  img {
    width: 60px;
  }
}

.payway-text {
  padding-left: 5px;
  max-width: 198px;
  text-align: left;
  width: 100%;
  color: black;
}


@media only screen and (max-width: 1199px) {
  .payway-text {
    padding-top: 0;
  }
}

.blue-media-body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .bm-redirect-page {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo {
        max-width: 220px;
        height: auto;
      }
      .loader{
        margin-top: 15px;
      }

      p {
        margin-bottom: 10px;
        font-size: 18px;
        margin-top: 0;
      }

    }
    input[type="submit"]{
      display: none;
    }
  }
}



.bluepayment-gateways__wrap {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  display: grid;
  //display: flex;
  //flex-wrap: wrap;
  margin-left: -0.3rem;
  margin-right: -0.3rem;
  margin-bottom: 1rem;
}



.bluepayment-gateways__item {
  padding: 0.3rem;
}




.bluepayment-gateways__img {
  width: 65px;
  display: table;
  margin: 0 auto;
}


.bluepayment-gateways__item {

    label {
    border: 1px solid #F1F1F1;
    padding: 0.5rem;
    border-radius: 1px;
    display: flex !important;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    align-content: flex-start;
    align-items: initial;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
  }

  input:checked ~ label {
    border-color: #63BB6C;
    transition: all 0.3s ease;
  }

  &:hover label {
	border-color: #63BB6C;
  }


  input{
    display: none;
  }

}


.bluepayment-gateways__name {
  text-align: center;
  width: 100%;
  color: black;
  font-size: 12px;
  margin-top: 4px;
  display: block;
  line-height: 1.2;
}


.payment-option {
  display: flex;
  align-items: center;
}

.payment-option label {
  margin-bottom:0;
}

.payment-brand {
  display: block;
  margin-bottom: 24px;
  max-width: 85px;
}

.payment-navigation {
  margin-top: 46px;
  margin-bottom: 16px;
}







body#checkout section.checkout-step .payment-options {

  > div .payment-option {
    border-top: 1px solid #F1F1F1;
    display: flex;
    align-items: center;
    min-height: 70px;
    margin-bottom: 0;

    > label {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      img {
        max-width: 90px;
        padding-right: 20px;
      }

      span {
        order: 3;
        font-weight: 600;
      }

    }

  }

  //> div:first-child .payment-option {
  //  border-top: 1px solid #F1F1F1;
  //}
  //
  //> div > label {
  //  display: flex;
  //  align-items: center;
  //  margin-bottom: 0;
  //
  //  img {
  //    max-width: 90px;
  //    padding-right: 20px;
  //  }
  //
  //  span {
  //    order: 3;
  //    font-weight: 600;
  //  }
  //
  //}
}

.bm-small-info {
  color: #767676;
  font-size: 11px;
}

body#checkout .additional-information {
  font-size: .875rem;
  margin-left: 2.875rem;
  margin-top:0;
  margin-bottom: 1.25rem;
}

body#checkout section.checkout-step .payment-options .custom-radio {
  margin-right: 1.645rem;
}

.additional-information p {
  color: #222222;
  font-size: 13px;
}


////





body#checkout section.checkout-step .content {
  padding: 0.5rem 0.5rem;
}

body#checkout section.checkout-step .payment-options {


  .additional-information {
	//height: 0;
	//display: block !important;
	//margin-bottom: 15px;
	//overflow:hidden;
  }

  .additional-information {
	//margin-bottom: 15px;



	&.active {
	  border-bottom: 1px solid #63BB6C;
	  border-left: 1px solid #63BB6C;
	  border-right: 1px solid #63BB6C;
	  padding: 0 16px 16px 16px;
	  //margin-bottom: 15px;

	  //height: auto;

	}

  }

  .additional-information[data-payment-bm="true"].active {
	padding: 0 16px 16px 92px;
  }


  > div .payment-option {

	position: relative;
	display: flex;
	align-items: center;
	min-height: 85px;

	margin-bottom: 0;
	margin-top: 15px;
	cursor: pointer;

	border-top: 1px solid #F1F1F1;
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;


	//outline: 1px solid #ffffff;
	outline-offset: 0px;
	background: transparent;

	-webkit-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
	-moz-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
	-ms-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
	-o-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);



	&:hover {
	  border-color: lighten(#63BB6C,10%);
	  -webkit-transition: all .1s cubic-bezier(0.2, 0.3, 0, 1);
	  -moz-transition: all .1s cubic-bezier(0.2, 0.3, 0, 1);
	  -ms-transition: all .1s cubic-bezier(0.2, 0.3, 0, 1);
	  -o-transition: all .1s cubic-bezier(0.2, 0.3, 0, 1);
	  transition: all .1s cubic-bezier(0.2, 0.3, 0, 1);
	}



	//.bm-selected-payment {
	//  display: none !important;
	//}

	&.active {
	  -webkit-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
	  -moz-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
	  -ms-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
	  -o-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
	  transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);

	  .bm-selected-payment {
		display: flex !important;
		padding-bottom:0;
	  }


	  min-height: 69px;
	  //outline: 1px solid #D7DCD9;
	  outline-offset: 0px;
	  border-top: 1px solid #63BB6C;
	  border-left: 1px solid #63BB6C;
	  border-right: 1px solid #63BB6C;
	  border-bottom: 0;



	  //> label {
	  //padding:16px 16px 0px 16px;
	  //}

	  margin-bottom:0;

	  //> label:not(.bm-selected-payment) {
	  //display: none;
	  //}

	  //background: #ffffff;

	  .bm-selected-payment {
		display: flex;
	  }

	}

	//&[data-payment-bm="true"].active {
	//  label:nth-child(1) {
	//	display: none;
	//  }
	//}


	.custom-radio {
	  display: none;
	}



	> label {
	  padding: 16px 16px 16px 16px;

	  display: flex;
	  align-items: center;
	  margin-bottom: 0;
	  font-size: 16px;
	  width:100%;
	  cursor: pointer;

	  img {
		padding-right: 25px;
		width: 75px;
		height: auto;
	  }

	  span {
		order: 3;
	  }

	  span.bm-promo-desc {
		margin-top: 3px;
		display: block;
		font-weight: 400;
		font-size: 13px;

		&--info {
		  margin-top: 9px;
		  color: #767676;
		  display: block;
		  font-weight: 400;
		  font-size: 12px;
		}

	  }

	}

  }




  body#checkout section.checkout-step .payment-options > div .payment-option > label.bm-payment-hide {
	display: none;
  }

  //.bm-payment-hide {
  //display: flex;
  //}

  //> div:first-child .payment-option {
  //  border-top: 1px solid #F1F1F1;
  //}
  //
  //> div > label {
  //  display: flex;
  //  align-items: center;
  //  margin-bottom: 0;
  //
  //  img {
  //    max-width: 90px;
  //    padding-right: 20px;
  //  }
  //
  //  span {
  //    order: 3;
  //    font-weight: 600;
  //  }
  //
  //}
}

//#payment-option-1-container {
//  border:0 !important;
//}




.bm-small-info {
  color: #767676;
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}

body#checkout .additional-information {
  margin: 0;
}

body#checkout section.checkout-step .payment-options .custom-radio {
  margin-right: 1.645rem;
}

.additional-information p {
  color: #222222;
  font-size: 13px;
}


// Grouping

.bm-frame-start {
  position: relative;
  overflow: hidden;
  padding-top: 22px;
  padding-bottom: 8px;

  &:before, &:after {
	height: 2px;
	background-color: $primary;
	content: '';
	position: absolute;
	top: 32px;
  }

  &:before {
	width: 30px;
	margin-right: 14px;
  }

  &:after {
	width: 100%;
	margin-left: 14px;
  }

  img {
	margin-left: 44px;
  }

}

.bm-safe-brands {
  top: 37px;
  right: 0;
  position: absolute;
}


.bm-frame-end {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: $primary;
  margin-bottom: 16px;
  margin-top: 16px;
}

/// Modal


.bm-modal-open .bm-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.bm-modal {

  $c: &;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;
  //opacity: 0;
  //transition: all 1s ease-out;

  &.bm-in {
	display: block;
	opacity: 1;
	transition: all 1s ease-out;
  }

  &.bm-fade.bm-in #{$c}__dialog  {
	//-webkit-transform: translate(0);
	//transform: translate(0);
	transition: -webkit-transform 1s ease-out;
	transition: all 1s ease-out;

	//overflow-x: hidden;
	//overflow-y: auto;
  }

  &.bm-fade #{$c}__dialog {
	transition: all 1s ease-out;
	//-webkit-transform: translateY(-25%);
	//transform: translateY(-25%);
  }

  &__dialog {
	position: relative;
	max-width: 1000px;
	margin: 30px auto;
	box-shadow: rgba(0,0,0,0.15) 0px 8px 24px;
	z-index: 1050;
  }

  &__body {
	position: relative;
	padding: 15px 0;
  }

  &__header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
  }

  &__content {
	position: relative;
	background-color: #ffffff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	outline: 0;
	padding: 2rem;
  }

  &__close {
	background: transparent;
	border:0;
	cursor: pointer;
  }
}



.bm-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0,0,0,0.7);
}

.bm-fade {
  transition: opacity .4s cubic-bezier(.65,.05,.36,1);
  opacity: 0;

  &.in {
	transition: opacity .4s cubic-bezier(.65,.05,.36,1);
	opacity: 1;
  }

  &.bm-in {
	transition: opacity .4s cubic-bezier(.65,.05,.36,1);
	opacity: 1;
  }
}


body#checkout section.checkout-step .payment-options .payment-option[data-payment-name="aliorbank"] {
  border-left: 5px solid #6B113D;
}
body#checkout section.checkout-step .payment-options .payment-option[data-payment-name="smartney"] {
  border-left: 5px solid #FDB840;
}

.payment-option[data-payment-name="smartney"] {
  .bm-promo-label {
	background: #FDB83F;
	color: #ffffff;
  }
}

.payment-option[data-payment-name="aliorbank"] {
  .bm-promo-label {
	background: #6B113D;
	color: #ffffff;
  }
}


.bm-promo-label {
  padding: 1px 6px;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
}

.bm-reset {
  order: 4;
  padding: 4px;
  font-size: 16px;
}


.bm-payment-wrap {
  align-self: center;
}

.bm-payment-name {
  text-align: left;
  font-size: 16px;
}

.bm-payment-desc {
  margin-top: 16px;
  text-align: left;
  font-size: 12px;
  color: #767676;
}



body#checkout section.checkout-step .payment-options > div .payment-option > label.bm-selected-payment {
  align-items: flex-start;
}




.bm-payment {
  &__subtitle {
	font-size: 14px;
  }
}

////

.bm-show {
  display:block;

}


.bm-hide {
  display:none;
}



.bm-transition {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}



@keyframes bm-fadeIn {
  0% {
	opacity: 0
  }
  to {
	opacity: 1;
	display: block;
  }
}

@keyframes bm-fadeIn {
  0% {
	opacity: 0
  }
  to {
	opacity: 1
  }
}

.bm-fadeIn {
  -webkit-animation-name: bm-fadeIn;
  animation-name: bm-fadeIn
}

@keyframes bm-fadeOut {
  0% {
	opacity: 1
  }
  to {
	opacity: 0
  }
}

@keyframes bm-fadeOut {
  0% {
	opacity: 1
  }
  to {
	opacity: 0
  }
}

.bm-fadeOut {
  -webkit-animation-name: bm-fadeOut;
  animation-name: bm-fadeOut
}


p.bm-legals {

  &--first {
	padding-top: 12px;
  }

  margin: 6px 0;
  font-size: 12px;
  color: #767676;
}

.bm-toggle {
  -webkit-animation-name: bm-fadeOut;
  animation-name: bm-fadeOut;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display:none;

  &--show {
	-webkit-animation-name: bm-fadeIn;
	animation-name: bm-fadeIn;
	display: block;
  }

}


.bm-slideshow {
  position: relative;
  width: 75px;
  height: 50px;

  .slide {
	opacity: 0;
	position: absolute;
	transition: opacity .17s linear .1s;

	&:first-child {
	  opacity: 1;
	}

  }
}


.js-additional-information {
  display: table;
  width: 100%;

  #bm-methods-grouped {
	display: none;
  }

}



/// OPC Thecheckout

.tc-main-title {
  min-height: 85px;
  margin-bottom: 0;
  margin-top: 15px;
  border: 1px solid #F1F1F1;
  position: relative;

  padding: 6px 16px 6px 16px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  -webkit-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
  -moz-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
  -ms-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
  -o-transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: all .3s cubic-bezier(0.2, 0.3, 0, 1);

  &:hover {
	border-color: #87ca8d;
	-webkit-transition: all 0.1s cubic-bezier(0.2, 0.3, 0, 1);
	-moz-transition: all 0.1s cubic-bezier(0.2, 0.3, 0, 1);
	-ms-transition: all 0.1s cubic-bezier(0.2, 0.3, 0, 1);
	-o-transition: all 0.1s cubic-bezier(0.2, 0.3, 0, 1);
	transition: all 0.1s cubic-bezier(0.2, 0.3, 0, 1);
  }

  .additional-information p {
	color: #767676;
	font-size: 12px;
	margin-bottom: 10px;
  }

  > .payment-option {
	cursor: pointer;
	width: 100%;

	.bm-selected-payment {
		.bm-payment-wrap {
		  order: 2;
		}
	  	img {
		  order: 1;
		}
	}

	label {
	  align-items: center;
	  display: flex;
	  flex-wrap: wrap;
	  width: 100%;
	  padding:0;
	  margin-top: 10px;
	  margin-bottom: 10px;

	  span {
		padding:0;
		margin:0;
		order:2;
	  }

	  img {
		order: 1;
		max-width: 100px;
		padding-right: 25px;
		width: 75px;
	  }

	  .bm-wallet-slideshow,
	  .bm-transfers-slideshow {
		order:1;
	  }

	}
  }

  .custom-radio {
	display: none;
  }




}


//.payment-options {
//  transition: opacity 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
//  opacity: 0;
//}
